<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/external/autobahn.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <!-- <body ng&#45;app="starter" animation="slide&#45;left&#45;right&#45;ios7"> -->
  <body ng-app="PubSubAngApp">
    <h1>Real-time messaging with Crossbar.io and AngularJS</h1>
    <div ng-controller="PublishingCtrl" class="controller">
      <input type="text" ng-model="model.message" />
      <button ng-click="clickMe(model.message)">Publish!</button>
    </div>
    <div id="Receiver" ng-controller="ReceivingCtrl" class="controller">
      We received: <span class="received">{{model.message}}</span>
    </div>
    <script>
  AUTOBAHN_DEBUG = true;
    </script>
    <!-- <!&#45;&#45;  -->
    <!--   The nav bar that will be updated as we navigate between views. -->
    <!-- &#45;&#45;> -->
    <!-- <ion&#45;nav&#45;bar class="bar&#45;stable nav&#45;title&#45;slide&#45;ios7"> -->
    <!--   <ion&#45;nav&#45;back&#45;button class="button&#45;icon icon  ion&#45;ios7&#45;arrow&#45;back"> -->
    <!--     Back -->
    <!--   </ion&#45;nav&#45;back&#45;button> -->
    <!-- </ion&#45;nav&#45;bar> -->
    <!-- <!&#45;&#45;  -->
    <!--   The views will be rendered in the <ion&#45;nav&#45;view> directive below -->
    <!--   Templates are in the /templates folder (but you could also -->
    <!--   have templates inline in this html file if you'd like). -->
    <!-- &#45;&#45;> -->
    <!-- <ion&#45;nav&#45;view></ion&#45;nav&#45;view> -->
  </body>
</html>
